---

version: "3"

services:
  dashboard:
    build:
      context: .
      dockerfile: Dockerfile-development
    volumes:
      - ./assets/scripts:/opt/app/assets/scripts
      - ./assets/static:/opt/app/assets/static
      - ./assets/styles:/opt/app/assets/styles
      - ./config:/opt/app/config
      - ./lib:/opt/app/lib
      - ./priv:/opt/app/priv
    environment:
      - MIX_ENV
    depends_on:
      - postgres
    command: mix phx.server
    working_dir: /opt/app
    network_mode: host

  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appcenter_dashboard_dev
    network_mode: host
