<section class="submissions">
  <h1>Submit to AppCenter</h1>

  <%= live_render(@conn, Elementary.AppcenterDashboardWeb.SubmissionFormLive) %>

  <%= if length(@recent_projects) > 0 do %>
    <div class="apps">
      <h2>Recent Apps</h2>

      <%= for url <- @recent_projects do %>
        <%= live_render(@conn, Elementary.AppcenterDashboardWeb.RecentProjectLive, session: %{
          "url" => url
        }) %>
      <% end %>
    </div>
  <% end %>
</section>
