<header>
  <nav class="primary">
    <ul>
      <li><a href="https://elementary.io" class="logomark" target="_self">
        {% include svg/logomark.svg %}
      </a></li>

      <li><a href="https://elementary.io/support" target="_self">Support</a></li>
      <li><a href="https://developer.elementary.io" target="_self">Developer</a><</li>
      <li><a href="https://elementary.io/get-involved" target="_self">Get Involved</a></li>
      <li><a href="https://store.elementary.io" target="_self">Store</a></li>
      <li><a href="{{ site.baseurl }}/">Blog</a></li>
    </ul>

    <ul>
      <li><a href="https://youtube.com/user/elementaryproject" target="_blank" rel="noopener" title="Youtube">
        {% include svg/youtube.svg %}
      </a></li>

      <li><a href="https://www.facebook.com/elementaryos" target="_blank" rel="noopener" title="Facebook">
        {% include svg/facebook.svg %}
      </a></li>

      <li><a href="https://mastodon.social/@elementary" target="_blank" rel="noopener" title="Mastodon">
        {% include svg/mastodon.svg %}
      </a></li>

      <li><a href="https://www.reddit.com/r/elementaryos" target="_blank" rel="noopener" title="Reddit">
        {% include svg/reddit.svg %}
      </a></li>

      <li><a href="https://elementaryos.stackexchange.com" target="_blank" rel="noopener" title="StackExchange">
        {% include svg/stack-exchange.svg %}
      </a></li>

      <li><a href="https://twitter.com/elementary" target="_blank" rel="noopener" title="Twitter">
        {% include svg/twitter.svg %}
      </a></li>

      <li><a href="https://join.slack.com/t/elementarycommunity/shared_invite/enQtMzU1NDU4OTE1MjY2LWUyOTBkZGNkZGM4MDgzZjE2ZjRiZDgwMDQ1ZTA0MzcxYjI0MDUyNGRlNDI5ZWViNDkwMzMwYzczMDY2ZjA0MTc" target="_blank" rel="noopener" title="Slack">
        {% include svg/slack.svg %}
      </a></li>
    </ul>
  </nav>
  <nav class="secondary">
    <div markdown="1">
      <a href="https://docs.elementary.io/develop/">Developer Docs</a>
      <a href="https://docs.elementary.io/hig/">Human Interface Guidelines</a>
    </div>
  </nav>
</header>
