.alert {
  align-content: center;
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  line-height: 2.9em;
  padding: 0.1rem 1.65rem;
  width: 100%;
}

.alert--closable {
  cursor: pointer;

  > svg {
    height: 1rem;
  }
}

.alert--success {
  background-color: $LIME_500;
}

.alert--info {
  background-color: $BANANA_300;
  color: $BLACK_900;
}

.alert--error {
  background-color: $STRAWBERRY_500;
  color: $SILVER_100;
}

.alert--bubble {
  border-radius: 3px;
  margin: 2rem auto;
  max-width: 70ch;
  padding: 0.1rem 1rem;
}
