@charset "utf-8";

@import "../node_modules/nprogress/nprogress.css";
@import "colors";
@import "layout";
@import "typography";
@import "alert";
@import "buttons";
@import "cards";
@import "nav";

@import "fontawesome/fontawesome";
@import "fontawesome/regular";

@import "pages/index";
@import "pages/submissions";

:root {
  color-scheme: light dark;
  background-color: var(--secondary-bg-color);
}

* {
  box-sizing: border-box;
}
body,
html {
  color: var(--fg-color);
  fill: var(--fg-color);
  margin: 0;
  width: 100%;
}

html {
  // To blend with the footer on short pages
  background-color: var(--secondary-bg-color);
}

body {
  background-color: var(--bg-color);
}

svg {
  fill: inherit;
}

.error {
  max-width: 22rem;
  margin: 8em auto;
  text-align: center;

  p {
    font-family: var(--ui-font);
  }
}
