.card {
  background-color: var(--base-color);
  border-radius: 0.25em;
  box-shadow:
    0 0 0 1px rgba(0,0,0,.15),
    0 8px 10px 1px rgba(0, 0, 0, 0.07),
    0 3px 14px 2px rgba(0, 0, 0, 0.06),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
  color: inherit;
  display: grid;
  margin: 16px;
  opacity: 1;
  padding: 1.5em;
  grid-gap: 1em;
  text-decoration: inherit;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);

  h2,
  p {
    margin: 0;
  }

  p {
    font-size: 0.9em;
  }
}

a.card:hover,
a.card:focus {
    box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.15),
        0 12px 20px 1px rgba(0, 0, 0, 0.07),
        0 5px 28px 2px rgba(0, 0, 0, 0.06),
        0 8px 10px -3px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
