.button {
  padding: 1em 2em;
}

.hero {
  align-items: center;
  background-color: #7a36b1;
  background-image: linear-gradient(to right bottom, var(--grape-900), var(--grape-5  00));
  color: #fff;
  display: flex;
  flex-direction: column;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 6em 0 10em;
  row-gap: 1em;

  h1,
  p {
    margin: 0;
  }

  img {
    filter: drop-shadow(0 12px 24px rgba(255, 255, 255, 0.25));
  }

  .button {
    background-color: black;
    color: white;
  }
}

.docs {
  display: flex;
  grid-gap: 2em 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -7em auto 0 auto;
  max-width: var(--page-width);
  padding-top: 3em;
  padding-bottom: 3em;

  .card {
    margin: 0;

    h2 {
      color: var(--accent-color);
      text-align: center;
    }
  }
}

.pitch-appcenter {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--page-width);
  padding-bottom: 6em;
  padding-top: 6em;

  h2 {
    margin: 0;
    text-align: left;
  }

  ul {
    margin-block-start: 0;
    padding-inline-start: 1.5em;

    li {
      line-height: 1.65;
      margin: 1em 0;
    }
  }

  img {
    width: 100%;
  }
}

.monetize {
  background-color: var(--secondary-bg-color);
  display: grid;
  grid-gap: 3em 1em;
  padding-bottom: 6em;
  padding-top: 6em;

  > h2 {
    margin: 0 auto;
    max-width: var(--page-width);
  }

  > div {
    display: flex;
    grid-gap: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--page-width);

    > div {
      display: grid;
      grid-gap: 2em;
      a {
        text-align: center;
      }

      .card {
        margin: 0;

        h2 {
          color: var(--accent-color);
          text-align: center;
        }
      }
    }
  }
}

.download {
  align-items: center;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 6em;
  padding-top: 6em;
}
