.hero {
  align-items: center;
  background-image: linear-gradient(to right bottom, $GRAPE_900, $GRAPE_500);
  color: white;
  display: flex;
  flex-direction: column;
  text-shadow: 0 1px 2px rgba(black, 0.3);
  padding: 6em 0 10em;
  row-gap: 1em;

  h1,
  p {
    margin: 0;
  }

  img {
    filter: drop-shadow(0 12px 24px rgba(white, 0.25));
  }

  .button {
    background-color: black;
    color: white;
  }
}

.docs {
  display: flex;
  grid-gap: 2em;
  flex-direction: row;
  justify-content: space-between;
  margin: -7em auto 0 auto;
  max-width: var(--page-width);
  padding-top: 3em;
  padding-bottom: 3em;

  .card h2 {
    color: var(--accent-color);
    text-align: center;
  }
}

.pitch-appcenter {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--page-width);
  padding-bottom: 6em;
  padding-top: 6em;

  h2 {
    margin: 0;
    text-align: left;
  }

  ul {
    margin-block-start: 0;
    padding-inline-start: 1.5em;

    li {
      line-height: 1.65;
      margin: 1em 0;
    }
  }

  img {
    width: 100%;
  }
}

.monetize {
  background-color: var(--secondary-bg-color);
  display: grid;
  grid-gap: 3em 1em;
  padding-bottom: 6em;
  padding-top: 6em;

  > h2 {
    margin: 0 auto;
    max-width: var(--page-width);
  }

  > div {
    display: flex;
    grid-gap: 2em;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--page-width);

    > div {
      display: grid;
      flex-basis: 100%;
      grid-gap: 2em;

      a {
        text-align: center;
      }

      .card {
        margin: 0;

        h2 {
          color: var(--accent-color);
          text-align: center;
        }
      }
    }
  }
}

.code {
  display: grid;
  padding-bottom: 6em;
  padding-top: 6em;

  > h2,
  > p {
    margin: 0 auto;
    max-width: var(--page-width);
  }

  > div {
    display: flex;
    grid-gap: 2em;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em 0;

    .card {
      background: #fdf6e3;
      color: #657b83;
      display: block;
      flex-basis: 100%;
      margin: 0;
      overflow-x: auto;
      padding: 0.7em;

      pre {
        margin: 0;
      }

      code {
        font-family: roboto mono, monospace;
        font-size: 0.7em;
        text-align: justify;
        margin: 0;
      }
    }
  }
}

.download {
  align-items: center;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 6em;
  padding-top: 6em;
}
