.hero {
  align-items: center;
  background-image: linear-gradient(to right bottom, $GRAPE_900, $GRAPE_500);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-shadow: 0 1px 2px rgba(black, 0.3);
  padding: 6em 1em 10em;
  row-gap: 1em;

  h1,
  p {
    margin: 0;
  }

  img {
    filter: drop-shadow(0 12px 24px rgba(white, 0.25));
  }

  .button {
    background-color: black;
    color: white;
  }
}

.docs {
  display: flex;
  grid-gap: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -7em auto 0 auto;
  max-width: var(--page-width);
  padding-top: 3em;
  padding-bottom: 3em;

  @media (min-width: 700px) {
    flex-wrap: nowrap;
  }

  .card {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    // Line length feels too wide past here
    max-width: 25rem;

    h2 {
      color: var(--accent-color);
      text-align: center;
    }
  }
}

.pitch-appcenter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 3em;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--page-width);
  padding-bottom: 6em;
  padding-top: 6em;

  @media (min-width: 700px) {
    flex-wrap: nowrap;

    div:first-child {
      order: 2;
    }
  }

  div {
    flex-basis: 100%;
  }

  h2 {
    margin: 0;
    text-align: left;
  }

  ul {
    margin-block-start: 0;
    padding-inline-start: 1.5em;

    li {
      line-height: 1.65;
      margin: 1em 0;
    }
  }

  img {
    width: 100%;
  }
}

.monetize {
  background-color: var(--secondary-bg-color);
  display: grid;
  grid-gap: 3em 1em;
  padding-bottom: 6em;
  padding-top: 6em;

  > h2 {
    margin: 0 auto;
    max-width: var(--page-width);
  }

  > div {
    display: flex;
    grid-gap: 6em;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--page-width);

    > div {
      flex-basis: 100%;

      a {
        display: block;
        margin-top: 2em;
        text-align: center;
      }

      .card {
        margin: 0;

        h2 {
          color: var(--accent-color);
          text-align: center;
        }

        .banner {
          background-color: $GRAPE_700;
          color: white;
          margin: 0 -1.5em;
          padding: 1.5em;
          text-align: center;

          .small {
            font-size: 0.8em;
          }

          .workflow,
          .split {
            font-weight: 300;
          }

          .workflow {
            font-size: 2em;
            margin: 0.5em 0;
          }

          .split {
            font-size: 3em;
            margin: 0.25em 0;
          }
        }
      }
    }
  }
}
