.submissions {
    width: var(--content-width);

    label {
      display: block;
      margin: 1em 0;

      span {
        display: block;
        margin-bottom: 0.5em;
      }
    }

  input {
    display: block;
    font-size: 1.25em;
    padding: 0.5em;
    width: 100%;
  }

  .app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;

    &:nth-child(odd) {
      background: var(--dim-bg-color);
    }

    * {
      margin: 0;
    }

    .info {
      flex-grow: 1;
      margin: 0 0.5em;
    }
  }
}
