.submissions {
  > * {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-width);
  }

  form.submitting {
    display: grid;
    grid-gap: 0.5em;
    grid-template-areas:
      "label label"
      "input button"
      "hint hint";
    grid-template-columns: 1fr auto;
    justify-content: stretch;
    margin: 1em 0;
    text-align: left;

    label {
      display: block;
      grid-area: label;
    }

    input {
      display: block;
      font-size: 1.25em;
      grid-area: input;
      padding: 0.5em;
      width: 100%;
    }

    span.hint {
      color: var(--error-fg-color);
      display: block;
      font-size: 0.8em;
      grid-area: hint;
    }

    input[type="submit"] {
      grid-area: button;
      margin: 0;
    }
  }

  .apps {
    width: var(--content-width);
    margin: 0 auto;
  }

  .app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;

    &:nth-child(odd) {
      background: var(--dim-bg-color);
    }

    * {
      margin: 0;
    }

    .info {
      flex-grow: 1;
      margin: 0 0.5em;
    }
  }

  .actions {
    text-align: center;
  }
}
