.submissions {
    label {
      display: block;
      margin: 1em 0;

      span {
        display: block;
        margin-bottom: 0.5em;
      }
    }

  input {
    display: block;
    font-size: 1.25em;
    padding: 0.5em;
    width: 100%;
  }

  .app {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info {
      flex-grow: 1;
      margin: 0 0.5em;
    }

    h3,
    p {
      margin: 0;
    }
  }
}
